<?xml version="1.0"?>
<config>
    <modules>
        <KL_Rulemailer>
            <version>0.0.2</version>
        </KL_Rulemailer>
    </modules>
    <global>
        <helpers>
            <rulemailer>
                <class>KL_Rulemailer_Helper</class>
            </rulemailer>
        </helpers>
        <models>
            <rulemailer>
                <class>KL_Rulemailer_Model</class>
            </rulemailer>
            <core>
                <rewrite>
                    <email_template>KL_Rulemailer_Model_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
        <events>
            <checkout_cart_save_after>
                <observers>
                    <cart_save_after_handler>
                        <type>model</type>
                        <class>rulemailer/observer</class>
                        <method>processCart</method>
                        <args></args>
                    </cart_save_after_handler>
                </observers>
            </checkout_cart_save_after>
            <customer_save_after>
                <observers>
                    <customer_save_after_handler>
                        <type>model</type>
                        <class>rulemailer/observer</class>
                        <method>processCustomer</method>
                        <args></args>
                    </customer_save_after_handler>
                </observers>
            </customer_save_after>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <newsletter_subscriber_save_before_handler>
                        <type>model</type>
                        <class>rulemailer/observer</class>
                        <method>processSubscriber</method>
                        <args></args>
                    </newsletter_subscriber_save_before_handler>
                </observers>
            </newsletter_subscriber_save_commit_after>
        </events>
    </global>
    <crontab>
        <jobs>
            <export_data_to_rule_mailer>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run><model>rulemailer/export_manager::exportData</model></run>
            </export_data_to_rule_mailer>
        </jobs>
    </crontab>
    <default>
        <kl_rulemailer_settings>
            <general>
                <module_enabled>1</module_enabled>
                <logging>1</logging>
                <transactional>0</transactional>
            </general>
        </kl_rulemailer_settings>
    </default>
</config>
