/app/Mage.php
/app/design
/app/code/core
/app/code/community/Cm
/app/code/community/Phoenix
/app/locale
/app/etc
!/app/etc/modules/KL_Rulemailer.xml
/app/.htaccess
/downloader
/errors
/includes
/js
/lib
/media
/pkginfo
/shell
/skin
/var
/.htaccess
/api.php
/cron.php
/cron.sh
/favicon.ico
/get.php
/index.php
/install.php
/mage